.navbar {
  display: flex;
  gap: 20px;
  padding: 10px;
  background-color: #282c34;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
